/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-tomorrow */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
  background: #011627;
}


/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #6bff81;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #87aff4;

}

.token.function-name {
  color: #87aff4;
  font-style: italic;
}

.token.boolean,
.token.number,
.token.function {
  color: #f7ecb5;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f7ecb5;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #00bff9;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #bcf0c0;
}

.token.operator,
.token.entity,
.token.url {
  color: #00bff9;
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}


/*****
  Line numbering
*****/
pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  padding-top: 9px;
  top: -11px;
  font-size: 100%;
  line-height: 1.65;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #01bff8;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #01bff8;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}


/*****
  File type
*****/
.code-toolbar {
  position: relative;
}

.code-toolbar pre[class*="language-"] {
  padding-top: calc(1em + 25px);
}

.code-toolbar .toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #01bff8;
}

.toolbar-item {
  color: #fff;
  color: rgb(166, 183, 195);
  background: rgb(12, 41, 66);
  font-size: 16px;
  font-style: italic;
  display: inline-block;
  padding: 0.5em 1em;
  line-height: 1;
}
